*{
    /* background-color: rgb(75, 75, 75); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "work sans";

}

html, body { 
    height: 100%;
    width: 100%;
}


#main {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
   align-items: flex-end;
   /* justify-content: space-between; */
   padding: 0px 90px;
   padding-top: 150px;
   gap: 70px;
}

#left{
    height: 100%;
    width: 45%;
    /* background-color: rgb(190, 224, 122); */
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    padding-bottom: 50px;
   
}


#left h1{
    font-size: 120px;
    /* background-color: rgb(190, 224, 122); */
    font-weight: 500;
    font-family: "work sans";
    line-height:150px ;
}


#bottom-left{
    /* height: 40%; */
  width: 100%;
    /* background-color: rgb(213, 203, 8); */
}

#colors{
    /* background-color: blue; */
    width: fit-content;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black;

}

#colors h5{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
}

#color1{
    height: 20px;
    width: 20px;
    background-color: rgb(203, 202, 190);
    border-radius: 50%;
    margin: 3px;
}

#color2{
    height: 20px;
    width: 20px;
    background-color: rgb(83, 76, 76);
    border-radius: 50%;
}

#left h2{
    margin-top: 50px ;
    font-size: 30px;
    margin-bottom: 15px;


}

#left p{
    font-size: 20px;
    width: 65%;
    font-weight: 600;
    color: #817d7d;
    line-height: 30px;

}


#right{
    height: 90%;
    width: 30%;
    /* background-color: rgb(213, 80, 8);  */
    position: relative;
}


#right-top{
    height: 80px;
    width: 100%;
    position: absolute;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-right: 20px;


}

#right-top h4{
    font-size: 30px;
    font-family: "work sans";
    font-weight: 600;
    /* padding-right: 20px; */

}


#right-top h5{
    font-size: 16px;
    
}

#right-top h5 i{
    color: gold;
}

#right img {
    width: 100%;
    height: 88%;
    margin-top: 80px;
    object-fit: cover;
}

#black-gola { 
    height: 100px;
    width: 100px;
    
}